<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>兴业信用卡</string>
		<key>imageName</key>
		<string>兴业银行</string>
		<key>message</key>
		<string>免年费；电影票满20元立减10元；曾送200万意外险</string>
	</dict>
	<dict>
		<key>title</key>
		<string>平安银行信用卡</string>
		<key>imageName</key>
		<string>中信银行</string>
		<key>message</key>
		<string>免年费，手刷即送意外险，下卡率高</string>
	</dict>
	<dict>
		<key>title</key>
		<string>浦发银行信用卡</string>
		<key>imageName</key>
		<string>兴业银行</string>
		<key>message</key>
		<string>白金简约版，免年费</string>
	</dict>
	<dict>
		<key>title</key>
		<string>工商银行信用卡</string>
		<key>imageName</key>
		<string>工商银行</string>
		<key>message</key>
		<string>免年费</string>
	</dict>
	<dict>
		<key>title</key>
		<string>光大银行信用卡</string>
		<key>imageName</key>
		<string>广发银行</string>
		<key>message</key>
		<string>下卡即送150元考拉卷；手刷即送50元京东E卡；10元享电影票</string>
	</dict>
	<dict>
		<key>title</key>
		<string>中信银行信用卡</string>
		<key>imageName</key>
		<string>中信银行</string>
		<key>message</key>
		<string>一卡双账户</string>
	</dict>
	<dict>
		<key>title</key>
		<string>交通银行信用卡</string>
		<key>imageName</key>
		<string>建设银行</string>
		<key>message</key>
		<string>免年费；消费送红包</string>
	</dict>
	<dict>
		<key>title</key>
		<string>华夏银行信用卡</string>
		<key>imageName</key>
		<string>工商银行</string>
		<key>message</key>
		<string>越刷越好看，一整年爱奇艺会员大放送</string>
	</dict>
</array>
</plist>
