<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconImage</key>
		<string>小额收款</string>
		<key>gridTitle</key>
		<string>小额收款</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>大额收款</string>
		<key>gridTitle</key>
		<string>大额收款</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>银行卡收款</string>
		<key>gridTitle</key>
		<string>信用卡收款</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>商户入驻</string>
		<key>gridTitle</key>
		<string>商户入驻</string>
	</dict>
</array>
</plist>
